#big1{
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
    height: 500px;
    text-align: center;
    bottom: 0;
    top: 50%;
  left: 50%;
    
}
#services{
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true");
    height: 300px;
    
}

#img2{
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true");
    height:650px;
}
body{
    text-align: center;
}
#serve{
    color: white;
    top: 50%;
    left: 50%;
}
#serv{
    color:white;
    padding: 25px;

}
#raw{
    display: flex;
    flex-direction: column;
}


h1{
    
    color: white;
}

#hiden1,#hiden2,#hiden3{
    display: none;
}

.padding{
font-size:20px;
}

form{
    padding:20%;
}

#social{
    padding-top:10px;
}
